{{ define "body" }}
<main class="container">
    {{ template "flash" . }}

    <form method="POST">
        <div role="document">
            <section>
                <hgroup>
                    <h1>Editing Page</h1>
                    <h2>{{.page.Title}}</h2>
                </hgroup>
                <div class="mb-3">
                    <label for="title" class="form-label">Page Title</label>
                    <input type="text" class="form-control" id="title" name="title" value={{.page.Title}}>
                </div>
                <div>
                    <label for="content">Content</label>
                    <fieldset id="md-switch">
                        <label for="switch">
                            <input type="checkbox" id="switch" name="switch" role="switch" onclick="previewMD()">
                            Preview
                        </label>
                    </fieldset>
                    <textarea id="content" name="content" rows="15">{{.page.Text}}</textarea>
                    <article id="preview-content" aria-busy="true">
                    </article>
                </div>
            </section>
        </div>
        <aside>
            <button type="submit" class="btn btn-primary">Save</button>



            <strong>Code:</strong> <br>
            <a href="/{{.page.Code}}" target="blank">
                {{.page.Code}}
            </a>
            <hr>

            <strong>Created:</strong> <br>
            {{ .page.CreatedAt.Format "Jan 02, 2006" }}
            <hr>

            <strong>Updated:</strong> <br>
            {{ .page.UpdatedAt.Format "Jan 02, 2006" }}
            <hr>

            <!-- Switch -->
            <fieldset>
                <label for="publish">
                    <input type="checkbox" id="publish" name="publish" role="switch" {{ if .page.Published }}checked{{end}}>
                    Published
                </label>
            </fieldset>

            <label for="author">
                Author
                <input type="text" id="author" name="author" placeholder="Guest" value="{{ .page.Author }}">
            </label>
            <hr>

            <fieldset>
                <legend>Gallery</legend>
                {{ range .galleries }}
                <label for="gallery{{.ID}}">
                    <input type="radio" id="gallery{{.ID}}" name="gallery" value="{{ .ID }}" {{ if eq .ID $.page.GalleryID}}checked{{ end }}>
                    {{ .Gallery }}
                </label>
                {{ end }}
            </fieldset>

            <fieldset>
                <legend>Trail (optional)</legend>
                {{ range .trails }}
                <label for="trail{{.ID}}">
                    <input type="radio" id="trail{{.ID}}" name="trail" value="{{ .ID }}" {{ if eq .ID $.page.TrailID}}checked{{ end }}>
                    {{ .Trail }}
                </label>
                {{ end }}
            </fieldset>
        </aside>
    </form>
</main>

<style>
    @media (min-width:992px) {

    main > form {
        --block-spacing-horizontal: calc(var(--spacing) * 1.75);
        grid-column-gap: calc(var(--block-spacing-horizontal) * 2);
        display: grid;
        grid-template-columns: auto 300px;
    }
    }

    label[for=content] {
        display: inline-block;
    }
    #content {
        font-family: monospace;
        resize: vertical;
    }
    #md-switch {
        float: inline-end;
    }
    #preview-content {
        margin-top: 0;
        width: 100%;
        display: none;
    }
    #preview-content[aria-busy=true] {
        text-align: center;
    }
</style>

<script>
    document.getElementById("switch").checked = false;
    var checkBox = document.getElementById("switch");
    var textarea = document.getElementById("content");
    var preview = document.getElementById("preview-content");
    var form = document.getElementById("form");
    var autosave = document.getElementById("autosave");

    function previewMD() {

        if (checkBox.checked == true){
            textarea.style.display = "none";
            preview.style.display = "block";
            preview.setAttribute("aria-busy", true)

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/admin/pages/preview", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                md: textarea.value
            }));

            xhr.onreadystatechange = (e) => {
                preview.innerHTML = xhr.response
                preview.setAttribute("aria-busy", false)
            }
        } else {
            textarea.style.display = "block";
            preview.style.display = "none";
            preview.innerHTML = null
        }
    }

</script>
{{ end }}