{{ define "body" }}
<main class="container">
    <section id="actions">
        <h1>Pages</h1>
        <a href="{{ url "admin/pages/create" }}" role="button">Create</a>
    </section>
    {{ template "flash" . }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Public</th>
                <th scope="col">Title</th>
                <th scope="col">Gallery</th>
                <th scope="col">Trail</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .pages}}
            <tr>
                <th scope="row">
                    <a href="{{ url (print "admin/pages/edit/" .Code) }}">
                        {{ .Code }}
                    </a>
                </th>
                <td style="text-align: center;">{{if .Published }}✔{{end}}</td>
                <td>{{ .Title }}</td>
                <td>{{ .Gallery.Gallery }}</td>
                <td>{{ .Trail.Trail }}</td>
                <td>
                    <a href="{{ url .Code }}" target="_blank">View</a> |
                    <a href="{{ url (print "/admin/pages/qr/" .Code ".svg") }}" target="_blank">QR Code</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>
{{ end }}