{{ define "body" }}

<div class="container-fluid found{{ if .page.Cover.File }} img-header{{ end }}">
    {{ if .page.Cover.File }}
    <img src="{{ .page.Cover.URL }}">
    <img srcset="{{ .page.Cover.ImgURL "small" }} 576w,
                {{ .page.Cover.ImgURL "medium" }} 1200w"
     sizes="(max-width: 576px) 576px,
            1200px">

    {{ end }}
    <div class="container">
        <h1>{{.page.Title}}</h1>
    </div>
</div>
<main class="container">
    <hgroup>
        <h1>Found {{ len .found }}/{{ .count }}</h1>
        <h2>On the trail</h2>
    </hgroup>
    {{ template "flash" . }}
    <section>
        <div class="player paused">
            <div onclick="playPause()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
                </svg>
            </div>
            <div id="waveform">
                <div id="busy" aria-busy="true" style="display: block;position: relative;top: 50%;height: 0;"></div>
            </div>
        </div>
        {{.md}}
    </section>
</main>

<style>

</style>

{{ if .page.Cover.File }}
<script src="https://unpkg.com/wavesurfer.js@5.2.0/dist/wavesurfer.js"></script>
<script>
    var wavesurfer = WaveSurfer.create({
        container: '#waveform',
        backend: 'MediaElement',
        mediaControls: false,
        hideScrollbar: true,
        waveColor: '#d1924c',
        progressColor: '#32a8cc',
        cursorColor: '#32a8cc',
        barWidth: 3,
        barRadius: 3,
        cursorWidth: 1,
        height: 150,
        normalize: true,
        barGap: 3
    });
    wavesurfer.load('{{ .page.Audio.URL }}');
    wavesurfer.on("waveform-ready", function () {
        document.getElementById("busy").remove()
    })
    function playPause() {
        wavesurfer.playPause()
        document.querySelector(".player").classList.toggle("paused")
    }
</script>
{{ end }}
{{ end }}