{{ define "body" }}
<div style="border-bottom: 1px solid black;">
    <div class="container found">
        <hgroup>
            {{ $count := 0}}
            {{ range .trails }}
            {{ $count = (add $count .Found) }}
            {{ end }}
            <h1>Found {{ $count }}/{{ .count }}</h1>
            <h2>{{ .page.Gallery.Gallery }}</h2>
        </hgroup>
    </div>
</div>
<main class="container">
    {{ template "flash" . }}
    <hgroup>
        <h1>{{.page.Title}}</h1>
        <h2>By {{ if .page.Author }}{{.page.Author}}{{ else }}Guest Author{{ end }}</h2>
    </hgroup>
    <section>
        {{.md}}
    </section>
</main>
{{ end }}