{{ define "body" }}
<div class="form">
  <h1 class="h6 mb-3 font-weight-normal">The Amazing Trace</h1>
  <h2 class="h3 mb-3 font-weight-normal">Your Clues</h2>

  <div class="alert">{{ .Team.Message }}</div>

  {{ range $pos, $i := .Team.Unlocked }}
  {{ $clue := index $.Team.Clues (index $.Team.Unlocked $pos) }}
  <h3 class="h6 mb-3 mt-5 font-weight-normal">
    Location
    {{ if eq $pos 0}}1{{end}}
    {{ if eq $pos 1}}2{{end}}
    {{ if eq $pos 2}}3{{end}}
    {{ if $clue.Challenge }}<br /><br /><span class="badge badge-warning">Bonus points available here</span>{{ end }}
  </h3>
  <p>
    {{ $clue.Text }}
  </p>
  {{ end }}
  {{ if eq (len .Team.Unlocked) 0 }}
  <h3 class="h6 mb-3 mt-5 font-weight-normal">
    👏👏 You did it! 👏👏
  </h3>
  <p>Well done! I genuinely didn't expect anyone to get this far!
    Return to Locals HQ for bragging rights and a prize if you're the first to get them all!</p>
  {{ end }}

  <h3 class="h5 my-5 font-weight-normal">
    {{ len .Team.Solved }} / {{ len .Team.Clues }} clues solved
  </h3>
  {{range $i := .Team.Solved}}
  <p>
    {{$clue := index $.Team.Clues $i}}
    {{$clue.Title}}
  </p>
  {{end}}
</div>
{{end}}