{{ define "body" }}
<main class="container">
    <section id="actions">
        <hgroup>
            <h1>Links</h1>
            <h2>QR codes for printed media</h2>
        </hgroup>
        <a href="{{ url "admin/links/create" }}" role="button">Add Link</a>
    </section>
    {{ template "flash" . }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Title</th>
                <th scope="col">Scans</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{ range .links}}
            <tr>
                <th scope="row">
                    <a href="{{ url (print "admin/links/edit/" .Code) }}">
                        {{ .Code }}
                    </a>
                </th>
                <td>{{ .Title }}</td>
                <td>{{ .Hits }}</td>
                <td>
                    <a href="{{ url (print "link/qr/" .Code ".svg") }}" target="_blank">QR Code</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
        <tfoot>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Title</th>
                <th scope="col">Scans</th>
                <th scope="col">Actions</th>
            </tr>
        </tfoot>
    </table>
</main>
{{ end }}