{{ define "base" }}
<!doctype html>
<html lang="en" class="admin" data-theme="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{{ url "public/css/style.css" }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url "public/apple-touch-icon.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url "public/favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url "public/favicon-16x16.png" }}">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&family=Raleway:wght@900&display=swap" rel="stylesheet">
    <link rel="manifest" href="{{ url "public/site.webmanifest" }}">
    <title>{{ if .title }}{{ .title }} | {{ end }}{{ .siteTitle }}</title>
</head>

<body>
    <div id="header">
        <nav class="container">
            <ul>
                {{ $section := "" }}
                {{ if .section }}{{ $section = .section }}{{ end }}
                <li class="brand"><strong><a href="{{ url "" }}">QR Trails</a></strong></li>
                <li><a href="{{ url "admin/geosites" }}" class="secondary{{ if eq $section "geosites"}} active{{ end }}">Geosites</a></li>
                <li><a href="{{ url "admin/links" }}" class="secondary{{ if eq $section "links"}} active{{ end }}">Links</a></li>
                <li><a href="#" class="secondary{{ if eq $section "media"}} active{{ end }}">Media</a></li>
                <li><a href="{{ url "admin/analytics" }}" class="secondary{{ if eq $section "analytics"}} active{{ end }}">Analytics</a></li>
                <li><a href="{{ url "logout" }}" class="secondary">Logout</a></li>
            </ul>
        </nav>
    </div>
    {{ template "body" .}}
</body>

</html>
{{ end }}