{{ define "base" }}
<!doctype html>
<html lang="en" data-theme="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <title>{{ if .title }}{{ .title }} | {{ end }}{{ .siteTitle }}</title>
</head>

<body>
    <div id="header">
        <nav class="container">
            <ul>
                <li><a href="/">QR Trails</a></li>
                <li><a href="/admin" class="secondary">Admin</a></li>
                <li><a href="/library" class="secondary">My Library</a></li>
                <li><a href="/login" class="secondary">Save my progress</a></li>
            </ul>
        </nav>
    </div>
    {{ template "body" .}}
    <footer id="footer">
        <nav class="container">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
            <ul>
                <li><strong>© 2021 – all rights reserved. </strong></li>
            </ul>
        </nav>
    </footer>
</body>

</html>
{{ end }}