{{ define "body" }}
<main class="container">
    <h1>Dashboard</h1>
    {{ template "flash" . }}
    <p>
        Feature development:
    </p>
    <ul>
        <li>Make the <a href="/library">library page</a> live. Show lives counts and links to found pages</li>
        <li>Programmatically generate URIs (store top level URL)</li>
        <li>Generate QR codes</li>
        <li>Track code scans (*/s/CODE?)</li>
        <li>Upload media</li>
        <li>Dashboard data</li>
        <li>Delete pages</li>
        <li><s>Make the <a href="/privacy">privacy page</a> editable</s></li>
        <li><s>Make Pages -> Published flag useful</s></li>
        <li><s>
            Make the <a href="/about">about page</a> editable
        </s></li>
        <li><s>
            Autosave pages
        </s></li>
    </ul>
    <p>
        Planned dashboard data:
    </p>
    <ul>
        <li>Scans today / this week / this month</li>
        <li>Completion rate</li>
    </ul>
</main>
{{ end }}