{{ define "body" }}
<main class="container">
    <h1>Dashboard</h1>
    {{ template "flash" . }}
    <p>
        <a href="https://github.com/nathanhollows/Argon/issues/">Issue tracker</a> and source code on github. Work required:
    </p>
    <ul>
        <li>
            Make the homepage pretty <a href="https://github.com/nathanhollows/Argon/issues/12">#12</a>
        </li>
        <li>
            Make the <a href="{{ url "library" }}">library page</a> live. Show lives counts and links to found pages
            <a href="https://github.com/nathanhollows/Argon/issues/1">#1</a>
        </li>
        <li>
            Show analytics in analytics in admin (not dashboard overview)
            <a href="https://github.com/nathanhollows/Argon/issues/10">#10</a>
        </li>
        <li>Upload media</li>
        <li>Dashboard data
            <a href="https://github.com/nathanhollows/Argon/issues/5">#5</a>
        </li>
        <li>
            Lock down the admin panel
            <a href="https://github.com/nathanhollows/Argon/issues/9">#9</a>
        </li>
        <li><del>
            Fix the new page bug <a href="https://github.com/nathanhollows/Argon/issues/8">#8</a>
        </del></li>
        <li><del>
            Highlight the current page in the nav bars
            <a href="https://github.com/nathanhollows/Argon/issues/7">#7</a>
        </del></li>
        <li><del>Programmatically generate URIs (store top level URL)
            <a href="https://github.com/nathanhollows/Argon/issues/2">#2</a>
        </del></li>
        <li><del>
            Generate QR codes
            <a href="https://github.com/nathanhollows/Argon/issues/3">#3</a>
        </del></li>
        <li><del>Track code scans (*/s/CODE?)
            <a href="https://github.com/nathanhollows/Argon/issues/4">#4</a>
        </del></li>
        <li><del>
            Delete pages
            <a href="https://github.com/nathanhollows/Argon/issues/6">#6</a>
        </del></li>
        <li><del>Make the <a href="{{ url "privacy" }}">privacy page</a> editable</del></li>
        <li><del>Make Pages -> Published flag useful</del></li>
        <li><del>
            Make the <a href="{{ url "about" }}">about page</a> editable
        </del></li>
        <li><del>
            Autosave pages
        </del></li>
    </ul>
</main>
{{ end }}