{{ define "body" }}
<form class="form" method="POST" action="/clues">
    <h1 class="h6 mb-3 font-weight-normal">Locals Presents</h1>
    <h2 class="h3 mb-3 font-weight-normal">The Amazing Trace</h2>
    <p>Enter your team code to see all clues</p>
    <label for="code" class="sr-only">Team Code</label>
    <input type="text" id="code" name="team" class="form-control mb-4" required="" autofocus="" placeholder="code" maxlength="5">
    <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
{{ end }}