{{ define "body" }}
<div class="form">
  {{ if ge .TimeLeft 0.0}}
  <hr class="my-5">
  <h1 class="h6 mb-3 font-weight-normal">The Amazing Trace</h1>
  <h2 class="h3 mb-3 font-weight-normal">Your Clues</h2>
  <h1 class="h6 mb-3 font-weight-normal">{{ .TimeLeft }} minutes left</h1>

  {{ if .Team.Message }}
  <div class="alert alert-info">{{ .Team.Message }}</div>
  {{ end }}

  {{ if eq .Team.Status "error" }}
  <span class="text-danger">You can't scan this code! Either you've already got it, or you haven't unlocked this clue.</span>
  {{ else if eq .Team.Status "success" }}
    <p>
    👏👏👏 Congratulations! 👏👏👏 <br />
    You solved this clue!
    </p>
  {{ end }}

  <hr class="my-5">
  {{ range $pos, $i := .Team.Unlocked }}
  {{ $clue := index $.Team.Clues (index $.Team.Unlocked $pos) }}
  <h3 class="h6 mb-3 mt-5 font-weight-normal">
    Location
    {{ if eq $pos 0}}1{{end}}
    {{ if eq $pos 1}}2{{end}}
    {{ if eq $pos 2}}3{{end}}
    {{ if $clue.Challenge }}<br /><br /><span class="badge badge-warning">Bonus points available here</span>{{ end }}
  </h3>
  <p>
    {{ $clue.Text }}
  </p>
  {{ end }}
  <hr class="my-5">
  {{ if eq (len .Team.Unlocked) 0 }}
  <h3 class="h6 mb-3 mt-5 font-weight-normal">
    👏👏 You did it! 👏👏
  </h3>
  <p>Well done! I genuinely didn't expect anyone to get this far!
    Return to Locals HQ for bragging rights and a prize if you're the first to get them all!</p>
  {{ end }}
  {{ else }}
  <hr class="my-5">
  <h1 class="h6 mb-3 font-weight-normal">The Amazing Trace</h1>
  <h2 class="h3 mb-3 font-weight-normal">Return to HQ</h2>
  <h1 class="h6 mb-3 font-weight-normal">Time's up!</h1>
  <hr class="my-5">
  {{ end}}

  <h3 class="h5 my-5 font-weight-normal">
    {{ len .Team.Solved }} / {{ len .Team.Clues }} clues solved
  </h3>
  {{range $i := .Team.Solved}}
  <p>
    {{$clue := index $.Team.Clues $i}}
    {{$clue.Title}}
  </p>
  {{end}}
</div>
{{end}}