{{ define "body" }}
<main>
    <div class="container">
        <hgroup>
            <h1>Add a Geosite</h1>
            <h2></h2>
        </hgroup>
        {{ template "flash" . }}
        <form method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Geosite Title</label>
                <input type="text" class="form-control" id="title" name="title" value={{.page.Title}}>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</main>
{{ end }}