{{ define "body" }}
<main class="container">
    <section id="actions">
        <hgroup>
            <h1>Geosites</h1>
            <h2>Audio Stories</h2>
        </hgroup>
        <a href="{{ url "admin/geosites/create" }}" role="button">Add Geosite</a>
    </section>
    {{ template "flash" . }}
    <table class="table">
        <thead>
            <tr>
                <th data-tooltip="Is published" style="text-align: center;">
                    <img src="{{ url "public/img/eye.svg" }}">
                </th>
                <th data-tooltip="Has audio" style="text-align: center;">
                    <img src="{{ url "public/img/music-note-beamed.svg" }}">
                </th>
                <th data-tooltip="Has cover image" style="text-align: center;">
                    <img src="{{ url "public/img/image.svg" }}">
                </th>
                <th>Geosite</th>
                <th>Preview</th>
                <th>Get QR Code</th>
            </tr>
        </thead>
        <tbody>
            {{ range .pages}}
            <tr>
                <td style="text-align: center;">{{if .Published }}✔{{end}}</td>
                <td style="text-align: center;">{{if .Audio.File }}✔{{end}}</td>
                <td style="text-align: center;">{{if .Cover.File }}✔{{end}}</td>
                <th scope="row">
                    <a href="{{ url (print "admin/geosites/edit/" .Code) }}">
                        {{ .Title }}
                    </a>
                </th>
                <td>
                    <a href="{{ url .Code }}" target="_blank">View</a>
                </td>
                <td>
                    <a href="{{ url (print "qr/s/" .Code " - " .Title ".svg") }}" download>.SVG</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
        <tfoot>
            <tr>
                <th data-tooltip="Is published" style="text-align: center;">
                    <img src="{{ url "public/img/eye.svg" }}">
                </th>
                <th data-tooltip="Has audio" style="text-align: center;">
                    <img src="{{ url "public/img/music-note-beamed.svg" }}">
                </th>
                <th data-tooltip="Has cover image" style="text-align: center;">
                    <img src="{{ url "public/img/image.svg" }}">
                </th>
                <th>Geosite</th>
                <th>Preview</th>
                <th>Get QR Code</th>
            </tr>
        </tfoot>
    </table>
</main>
<style>
    table img {
        width: 1em;
    }
</style>
{{ end }}