:root {
    --font-family: 'Arimo', sans-serif;
    --header-font-family: 'Raleway', sans-serif;
    --color-body: #323232;

    /* Taken from the logo */
    --color-yellow: #d1924c;
    --color-blue: #32a8cc;
    --color-red: #881024;
    --color-grey: #d1d1cd;

    --color-footer-bg: #454545;
    --color-footer-text: #ffffff;

    --color-button: var(--color-red);

    --primary: var(--color-yellow) !important;
    --primary-hover: #824d13 !important;
    --primary-focus: rgba(209, 146, 76, 0.125) !important;
    --border-radius: 0 !important;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: var(--font-family);
    color: var(--color-body);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: var(--header-font-family);
    letter-spacing: 0.1em;
}

a[role="button"].delete, button.delete, input[type="button"].delete, input[type="reset"].delete, input[type="submit"].delete {
    --background-color: var(--del-color);
    --border-color: var(--del-color);
    --color: var(--secondary-inverse);
    cursor: pointer;
}

article[role="alert"] {
    padding: 1.5rem 2rem;
    border-radius: unset;
    box-shadow: unset;
    outline: 1px solid var(--primary);
    color: var(--primary-hover);
    background: var(--primary-focus);
}

article[role="alert"].info {
    background: var(--color-info);
}

article[role="alert"].warning {
    background: var(--color-warning);
}

article[role="alert"].danger {
    background: var(--color-danger);
}

article[role="alert"].success {
    outline: 1px solid var(--primary);
    color: var(--primary-hover);
    background-color: var(--primary-focus);
}

main > article[role="alert"]:first-child {
    margin-top: 0;
}

article > :last-child:not(blockquote) {
    margin-bottom: 0;
}

li ul, li ol {
    margin-top: calc(var(--typography-spacing-vertical) / 4);
}

tfoot th {
    border-top: var(--border-width) solid var(--table-border-color);
    --border-width: 3px;
    border-bottom: unset;
}

video {
    max-width: 100%;
    width: 100%;
}

/** Header */
.admin #header {
    background-color: white;
    border-bottom: 1px solid var(--contrast);
}

.secondary.active {
    --color: var(--color-yellow);
}

#header {
    text-transform: uppercase;
    font-weight: bold;
    background: white;
}

#header li {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

#header nav ul {
    width: 100%;
    justify-content: space-between;
}

#header img {
    height: auto;
    width: auto;
    max-height: 3.3em;
}

nav li.brand, nav li.brand a {
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--contrast);
    color: var(--contrast-inverse);
}

.found {
    padding-top: var(--spacing);
}

.img-header {
    padding: 4em 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (min-width:768px) {
    .img-header {
        padding: 8em 0;
    }
}

@media (min-width:576px) {
    .img-header {
        padding: 6em 0;
    }
    .img-header h1 {
        text-align: center;
    }
}

.img-header img {
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -1;
    object-position: center;
    width: 100%;
    height: 100%;
}

.img-header h1 {
    color: var(--background-color);
    padding: 0;
    margin: 0;
    text-shadow: 0 0 1.3em black;
}

/** Footer */

#footer {
    background-color: var(--color-footer-bg);
    padding: 1em 0;
    margin-top: auto;
}

#footer * {
    color: var(--color-footer-text);
 }


#footer-offsite ul, #footer-links {
    width: 100%;
    display: flex;
    gap: 1em 1em;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing) 0;
}

#footer ul {
    margin-left: unset;
    margin-right: unset;
}

#footer-links ul {
    gap: 1em;
    justify-content: center;
}

@media (min-width:576px) {
    #footer-offsite ul, #footer-links {
        flex-direction: row;
    }
}

 #footer #footer-offsite ul {
     width: 100%;
     justify-content: space-between;
 }

 #footer ul h2 {
    margin-top: var(--typography-spacing-vertical);
    margin-bottom: var(--typography-spacing-vertical);
 }

 #footer li {
    padding: 0;
}

@media (min-width:1200px) {
    html:not(.admin) .container {
        max-width:75ch
    }
}

/** Admin */
#actions hgroup, #actions h1 {
    display: inline-block;
}
#actions a {
    float: right;
}

/* Audio Player */

.player {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 0.5em;
    padding: var(--block-spacing-vertical) 0;
}
.player div:first-of-type {
    display: grid;
    align-items: center;
}
.player svg {
    width: 3em;
    height: auto;
    margin: auto;
    color: var(--primary);
}
.player.paused .bi-pause-circle-fill {
    display: none;
}
.player:not(.paused) .bi-play-circle-fill {
    display: none;
}