/**
body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #1a1a1a;
}
*/

:root {
    --font-family: 'Open Sans', sans-serif
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: var(--font-family);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: var(--font-family);
}

a[role="button"].delete, button.delete, input[type="button"].delete, input[type="reset"].delete, input[type="submit"].delete {
    --background-color: var(--del-color);
    --border-color: var(--del-color);
    --color: var(--secondary-inverse);
    cursor: pointer;
}

article.warning {
    background: var(--code-tag-color);
    color: var(--color);
}

article[role="alert"] {
    padding: 2rem;
}

video {
    max-width: 100%;
    width: 100%;
}

/** Header */
.admin #header {
    background-color: var(--mark-background-color);
}

#header {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}

#header nav ul {
    width: 100%;
    justify-content: space-between;
}

nav a, nav li {
    color: black;
}

nav a:hover {
    color: var(--primary);
}

.found {
    padding-top: var(--typography-spacing-vertical);
}

/** Footer */

#footer {
    background-color: #F3F3F3;
    padding: 10px 0;
    margin-top: auto;
}

@media (min-width:1200px) {
    html:not(.admin) .container {
        max-width:75ch
    }
}

nav .brand {
    padding-left: 1em;
    padding-right: 1em;
    background-color: black;
    color: white;
}

/** Admin */
#actions hgroup, #actions h1 {
    display: inline-block;
}
#actions a {
    float: right;
}