/**
body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #1a1a1a;
}
*/

:root {
    --font-family: 'Open Sans', sans-serif;
    --color-info: #68cbde;
    --color-success: #e6f494;
    --color-danger: #f69c9b;
    --color-warning: #fecd7e;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: var(--font-family);
}

a[role="button"].delete, button.delete, input[type="button"].delete, input[type="reset"].delete, input[type="submit"].delete {
    --background-color: var(--del-color);
    --border-color: var(--del-color);
    --color: var(--secondary-inverse);
    cursor: pointer;
}

article[role="alert"] {
    padding: 1.5rem 2rem;
    border-radius: unset;
    box-shadow: unset;
    outline: 1px solid var(--contrast);
    color: var(--contrast);
}

article[role="alert"].info {
    background: var(--color-info);
}

article[role="alert"].warning {
    background: var(--color-warning);
}

article[role="alert"].danger {
    background: var(--color-danger);
}

article[role="alert"].success {
    background: var(--color-success);
}

main > article[role="alert"]:first-child {
    margin-top: 0;
}

article > :last-child:not(blockquote) {
    margin-bottom: 0;
}

li ul, li ol {
    margin-top: calc(var(--typography-spacing-vertical) / 4);
}

tfoot th {
    border-top: var(--border-width) solid var(--table-border-color);
    --border-width: 3px;
    border-bottom: unset;
}

video {
    max-width: 100%;
    width: 100%;
}

/** Header */
.admin #header {
    background-color: var(--mark-background-color);
}

#header {
    border-bottom: 1px solid var(--contrast);
    text-transform: uppercase;
    font-weight: bold;
}

#header nav ul {
    width: 100%;
    justify-content: space-between;
}

nav li:not(.brand) a, nav li:not(.brand) {
    color: var(--contrast);
}

nav li.brand a:hover, nav li a:hover {
    color: var(--primary);
}

nav li:not(.brand) a.active {
    color: var(--primary);
}


nav li.brand {
    padding-left: 1em;
    padding-right: 1em;
    background-color: var(--contrast);
    color: var(--contrast-inverse);
}

nav li.brand a {
    color: var(--contrast-inverse);
}

.found {
    padding-top: var(--typography-spacing-vertical);
}

/** Footer */

#footer {
    background-color: #F3F3F3;
    padding: 10px 0;
    margin-top: auto;
}

@media (min-width:1200px) {
    html:not(.admin) .container {
        max-width:75ch
    }
}

/** Admin */
#actions hgroup, #actions h1 {
    display: inline-block;
}
#actions a {
    float: right;
}