{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col">
  <hr class="my-5">
            <h1 class="h6 mb-3 font-weight-normal">The Amazing Trace</h1>
            <h2 class="h3 mb-3 font-weight-normal">Available Codes</h2>
  <hr class="my-5">
        </div>
    </div>
    <div class="row">
        {{ range .Teams }}
        {{ if eq .LastSeen.Year 1 }}
        <div class="col">
            <h2 class="h5 py-5">
                {{ .Code }}
            </h2>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ end }}