{{ define "body" }}
<main class="container">
    <section id="actions">
        <hgroup>
            <h1>Analytics</h1>
            <h2></h2>
        </hgroup>
        <a href="{{ url "admin/data.csv" }}" role="button" download="QR-code-scan-data.csv">Download full data set</a>
    </section>
    {{ template "flash" . }}

    <section>
        <h2>Geosite Scans</h2>
        <div class="grid" style="text-align: center;">
            <article>
                <hgroup>
                    <h4>{{ .year }}</h4>
                    <h5>All time</h5>
                </hgroup>
            </article>

            <article>
                <hgroup>
                    <h4>{{ .year }}</h4>
                    <h5>Past year</h5>
                </hgroup>
            </article>
            <article>
                <hgroup>
                    <h4>{{ .month }}</h4>
                    <h5>Past month</h5>
                </hgroup>
            </article>

            <article>
                <hgroup>
                    <h4>{{ .week }}</h4>
                    <h5>Past week</h5>
                </hgroup>
            </article>
            <article>
                <hgroup>
                    <h4>{{ .today }}</h4>
                    <h5>Today</h5>
                </hgroup>
            </article>
        </div>
    </section>

    <hr>

    <div class="grid">
        <section>
            <h2>
                Recent Geosite Scans:
            </h2>
            <ul>
                {{ range .geoScans }}
                {{ if .Geosite.Code }}
                <li>
                    {{ .CreatedAt.Format "Jan 02, 2006 3:04 pm" }}
                    <a href="{{ url .Geosite.Code }}">{{.Geosite.Title}}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </section>
        <section>
            <h2>
                Recent Link Scans:
            </h2>
            <ul>
                {{ range .linkScans }}
                <li>
                    {{ .CreatedAt.Format "Jan 02, 2006 3:04 pm" }}
                    <a href="{{ url (print "admin/links/edit/" .Link.Code ) }}">{{.Link.Title}}</a>
                </li>
                {{ end }}
            </ul>
        </section>
    </div>

</main>
{{ end }}