{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Edit Page</h1>
            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ template "flash" . }}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Page Title</label>
                    <input type="text" class="form-control" id="title" name="title" value={{.page.Title}}>
                  </div>
                  <div class="mb-3">
                    <label for="content" class="form-label">Content</label>
                    <textarea class="form-control" id="content" name="content" rows="10">{{.page.Text}}</textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <strong>Details</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Code:</strong> <br>
                        <a href="/{{.page.Code}}">
                            {{.page.Code}}
                        </a>
                    </li>
                    <li class="list-group-item">
                        <strong>Author:</strong> <br>
                        {{.page.Author}}
                    </li>
                    <li class="list-group-item">
                        <strong>Created:</strong> <br>
                        {{ .page.CreatedAt }}
                    </li>
                    <li class="list-group-item">
                        <strong>Updated:</strong> <br>
                        {{ .page.UpdatedAt }}
                    </li>
                </ul>
                <div class="card-footer text-muted">
                    <form method="POST" action="/admin/pages/delete" class="d-inline">
                        <button class="btn btn-sm btn-danger float-end" name="page" value="{{.page.Code}}">Delete</button>
                    </form>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-header">
                    <strong>Statistics</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Collected:</strong> <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{ end }}