{{ define "body" }}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <hr class="mb-5">
            <h1 class="h3 mb-3 font-weight-normal">Pages</h1>
            <hr class="my-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ template "flash" . }}
            <div class="col">
               {{ if not .pages }}
               <a href="/admin/pages/import" class="btn btn-primary">Import</a>
               {{ else }}  
               <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .pages}}
                    <tr>
                        <th scope="row">
                            <a href="/{{.Code}}">
                                {{ .Code }}
                            </a>
                        </th>
                        <td>{{ .Title }}</td>
                        <td>{{ .Author }}</td>
                        <td>
                            <a href="/admin/pages/edit/{{.Code}}" class="btn btn-sm btn-primary">Edit</a>
                            <form method="POST" action="/admin/pages/delete" class="d-inline">
                                <button class="btn btn-sm btn-danger" name="page" value="{{.Code}}">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
               {{ end }}
               <a href="/admin/pages/create" class="btn btn-primary float-end">Create</a>
            </div>
        </div>
    </div>
</div>
{{ end }}