{{ define "body" }}
<div class="form">
  <h1 class="h6 mb-3 font-weight-normal">Locals Presents</h1>
  <h2 class="h3 mb-3 font-weight-normal">The Amazing Trace</h2>
  <p class="mb-3">
    How to play:
  </p>
    <ul>
      <li>The game goes for one hour</li>
      <li>Try to solve the clues and scan the matching posters before time is up</li>
      <li>You'll have three clues for three different locations</li>
      <li>You can keep solving clues until time is up</li>
      <li>You can only scan posters that you have the matching clue for</li>
      <li>Whichever team scans the most posters wins</li>
    </ul>
    <p>
      Got it? Good.
      <form action="/clues" method="POST">
        <input type="hidden" name="code" value="{{.Team }}">
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="submit" href="#">Let's go</button>
      </form>
    </p>
</div>
{{ end }}