{{ define "body" }}
<div class="form">
  <h1 class="h6 mb-3 font-weight-normal">Locals Presents</h1>
  <h2 class="h3 mb-3 font-weight-normal">The Amazing Trace</h2>
  <p class="mb-3">
    How to play:
  </p>
    <ul>
      <li>You have one hour to scan as many Amazing Trace posters as you can.</li>
      <li>You will be given clues to help you find the next posters.</li>
      <li>You must unlock the clue for a poster before you can scan it.</li>
      <li>Scan the poster or follow the URL to get your next clue.</li>
      <li>You may ask for help from people around campus.</li>
      <li>Whichever team scans the most posters wins.</li>
    </ul>
    <p>
      Got it? Good.
      <form action="/clues" method="POST">
        <input type="hidden" name="team" value="{{.Team }}">
      <button type="submit" class="btn btn-primary btn-lg btn-block mt-3" id="submit" href="#">Let's go</button>
      </form>
    </p>
</div>
{{ end }}