{{ define "body" }}
<div class="form">
  <h1 class="h6 mb-3 font-weight-normal">Locals Presents</h1>
  <h2 class="h3 mb-3 font-weight-normal">The Amazing Trace</h2>
  <p class="mb-3">
    How to play:
  </p>
    <ul>
      <li>Scan the QR code to get your clue</li>
      <li>Follow the clues to find the next QR code</li>
      <li>Complete any and all challenges</li>
      <li>Remember karma is a thing</li>
    </ul>
    <p>
      Got it? Good.
      <a class="btn btn-primary btn-lg btn-block mt-3" id="submit" href="#">Let's go</a>
    </p>
</div>
{{ end }}